@font-face {
    font-family: "Raleway";
    src:
      local("Raleway"),
      url("../fonts/Raleway-Medium.ttf") format("truetype") ,
      url("../fonts/Raleway-Medium.otf") format("opentype"),
      url("../fonts/Raleway-Medium.woff") format("woff");
  }

  h1, h2 {
    font-family: "Raleway", sans-serif;
  }

  * {
    font-family: "Lato", sans-serif;
  }

#cvwrapper, footer {
    max-width: 1160px;
    margin: auto;
}

aside {
  background-color: #e3e3e3;
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
}

section {
    background-color: white;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    }

    #partiedroite {
        display: flexbox;
    }

header, footer {
    background-color: #17abb3;
}

header {
    display: flexbox;
    color: white;
    max-height: 200px;
    width: 1160px;
}

body {
    display:flexbox;
}

#wrap {
    display: flex;
}

#photo img {
    border-radius: 50%;
    border: 5px solid white;
    cursor: zoom-in;
    height: 150px;
}

#photo {
    padding-left: 40px;
    padding-top: 20px;
}

.titres {
    display: flex;
    align-items: stretch;
}

#infosperso {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 800px;
    padding-left: 220px;
    padding-bottom: 10px;
}

.infos {
    display: inline-flex;
}

.infos li {
    width: 150px;
}

.infos li a {
    opacity: 0.7;
    line-height: 4px;
}

.infos li img {
    padding-right: 3px;
    opacity: 1;
    vertical-align:-2px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}

 #icones2 img {
    width: 20px;
    height: 20px;
    padding-top: 10px;
    display: flexbox;
    flex-direction: row;
    vertical-align: -20px;
    margin: 5px;
}

#date {
   padding-top: -20px;
}

li img {
    width: 20px;
    height: 20px;
}

#dev {
    margin: -10px;
    font-weight: bold;
    opacity: 0.9;
}

ul .infos {
    list-style-type: none;
}

ul .infos li a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

ul .infos li {
    padding-left: 5px;
}

h1 {
    padding-top: 20px;
}

h2 {
    color: #17abb3;
}

.pgd {
    display: flex;
  align-items: stretch;
}

.square {
    list-style-type: square;
    color: #17abb3;
    padding-left: 16px;
}

.color {
    color: black;
}

.just {
    text-indent: 10%;
    text-justify: auto;
}

div .fill:hover {
    background-color: #e3e3e3;
    border-left: 3px solid #17abb3;
    padding-left: 5px;
}

#icones2 img:hover {
    opacity: 0.8;
}

ul .form, ul .where, .skill {
    list-style-type: none;
}

hr {
    margin: -0.6em;
}

.dim {
    padding: 0;
}

.lang, .desc, .lang, .langage {
    float: left;
}

.level, .period, .stars {
    float: right;
}

.period, .stars {
    color: #17abb3;
}

#decalage2 {
    display: inline-block;
}

.langage {
    padding-right: 65px;
}

.lang {
    font-weight: bold;
}






