#cvwrapper, footer {
    max-width: 1160px;
    margin: auto;
}

aside {
  background-color: #e3e3e3;
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
}

section {
    background-color: white;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    }

    #partiedroite {
        display: flexbox;
    }

header, footer {
    background-color: #17abb3;
}

header {
    display: flexbox;
    color: white;
    max-height: 250px;
    width: 1160px;
}

body {
    display:flexbox;
}

#wrap {
    display: flex;
}

#photo img {
    border-radius: 50%;
    border: 5px solid white;
    cursor: zoom-in;
    height: 180px;
}

#photo {
    padding-left: 50px;
    padding-top: 30px;
}

.titres {
    display: flex;
    align-items: stretch;
}

#infosperso {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 800px;
    padding-left: 220px;
    padding-bottom: 10px;
}

.infos {
    padding-right: -100px;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    color: white;
}

 #icones2 img {
    width: 20px;
    height: 20px;
    color: white;
}

#icones2 li {
    list-style-type: none;
}

li img {
    width: 20px;
    height: 20px;
    color: white;
}

#dev {
    margin: -10px;
}

ul .infos {
    list-style-type: none;
}

ul .infos li a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

ul .infos li {
    padding-left: 5px;
}

h1 {
    padding-top: 20px;
}

h2 {
    color: #17abb3;
}

.pgd {
    display: flex;
  align-items: stretch;
}

.square {
    list-style-type: square;
    color: #17abb3;
    padding-left: 16px;
}

.color {
    color: black;
}

.just {
    text-indent: 10%;
    text-justify: auto;
}

div .fill:hover {
    background-color: #e3e3e3;
    border-left: 3px solid #17abb3;
    padding-left: 5px;
}

ul .form, ul .where, .skill {
    list-style-type: none;
}

hr {
    margin: -0.6em;
}

.dim {
    padding: 0;
}

.lang, .desc, .lang, .langage {
    float: left;
}

.level, .period, .stars {
    float: right;
}

.period, .stars {
    color: #17abb3;
}

.lang {
    font-weight: bold;
}






